<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Video Test</title>
    </head>
    <body>
        <div>
            <h3>Youtube Video</h3>
            <video
                autoplay
                loop
                controls
                tabindex="-1"
                class="video-stream html5-main-video"
                controlslist="nodownload"
                style="width: 932px; height: 524px; left: 0px; top: 0px"
                src="/assets/video.webm"
            ></video>
        </div>

        <div>
            <h3>Vimeo Video</h3>
            <video
                autoplay
                loop
                preload=""
                tabindex="-1"
                disablepictureinpicture=""
                style=""
                src="/assets/video.webm"
            ></video>
        </div>
    </body>
</html>
