<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Video Test</title>
    </head>
    <body>
        <div>
            <h3>Vimeo Video</h3>
            <video
                autoplay
                loop
                preload=""
                tabindex="-1"
                disablepictureinpicture=""
                style=""
                controls="1"
                src="/assets/video.mp4"
            ></video>
        </div>

        <div>
            <h3>Iframe Video</h3>
            <div>
                <iframe
                    width="560"
                    height="315"
                    src="https://www.youtube.com/embed/J3uBKUeqgO0"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen
                ></iframe>
            </div>
        </div>
    </body>
</html>
